<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1> <%=locals.name%></h1>
    <main>
        <form method="post" action="/contact">
            <input placeholder="Enter Your Name" name="name"type="text">
            <input placeholder="Enter Your Email" name="email" type="email">
            <button type="submit">Send Message</button>
        </form>
    </main> 
</body>
</html>