<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <main>
        <h1>Please SignUp First</h1>
        <form method="post">
            <input placeholder="Enter Your Name" name="name"type="text">
            <input placeholder="Enter Your Email" name="email" type="email">
            <input placeholder="Enter Your Password" name="password" type="password">
            <button type="submit">SignUp</button>
        </form>
    </main>
</body>
</html>